<!--
<div class="row">
    <div class="col-md-12">
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <a class="navbar-brand" routerLink="">{{ title }}</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Modules
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" routerLink="accounting">Accounting</a>
                            <a class="dropdown-item" routerLink="crm">CRM</a>
                            <a class="dropdown-item" routerLink="warehouse">Warehousing</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Add Modules</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="col-md-9">
        <div class="row">

            <div class="module-info col-md-4 well well-sm" *ngFor="let m of modules">
                <div class="card bg-light m-1 p-2">
                    
                    <div class="module-name">{{ m.category}}</div>
                    <ul class="module-props">
                        <li> <strong>title: </strong>{{ m.title }} </li>
                        <li> <strong>price:</strong> {{ m.price | currency:"USD":true }}</li>
                        <li> <strong>Description</strong> {{ m.discription }}</li>
                    </ul>
                   

                    <button class="btn btn-success" (click)="onAccounting()">BUY</button>
                </div>
            </div>
        </div>
    </div>
</div>
-->
<div class="row">

    <div class="card m-3 bg-light" style="width: 16rem;" >
        <img class="card-img-top" src="../../img/wms1.png" alt="warehousing" width="285" height="180" />
        <div class="card-body d-flex flex-column">
            <h5 class="card-title" >Warehouse Management</h5>
            <p class="card-text" >controls and records the day-to-day operations in a warehouse </p>
            <a routerLink="warehouse" class="btn btn-primary mt-auto">Show Warehouse</a>
        </div>
    </div>
    <div class="card m-3 bg-light" style="width: 16rem; background:#f1f1ff;">
        <img class="card-img-top" src="../../img/PerfectView-What-is-CRM.png" alt="CRM" width="285" height="180">
        <div class="card-body d-flex flex-column">
            <h5 class="card-title">Customer Relation Management</h5>
            <p class="card-text">Collecting and managing customer information.</p>
            <a routerLink="crm" class="btn btn-primary mt-auto">Show CRM</a>
        </div>
    </div>
    <div class="card m-3 bg-light" style="width: 16rem; background:#f1f1ff;">
        <img class="card-img-top" src="../../img/man.jpg" alt="Manufacturing" width="285" height="180">
        <div class="card-body d-flex flex-column">
            <h5 class="card-title">Manufacturing</h5>
            <p class="card-text">complete the inventory management by implementing a streamlined manufacturing process.</p>
            <a routerLink="manufacturing" class="btn btn-primary mt-auto">Show Manufacturing</a>
        </div>
    </div>
    <div class="card m-3 bg-light" style="width: 16rem; background:#f1f1ff;">
        <img class="card-img-top" src="../../img/acc.jpg" alt="Accounting" width="285" height="180">
        <div class="card-body d-flex flex-column">
            <h5 class="card-title">Accounting</h5>
            <p class="card-text">Monitor and record all account transactions.</p>
            <a routerLink="accounting" class="btn btn-primary mt-auto text-center">Show Accounting</a>
        </div>
    </div>


</div>
<router-outlet></router-outlet>