.navbar {
    background-color: #35475e;
}

.nav-link {
    border: none;
    background-color: #35475e;
    color: whitesmoke;
}

    .nav-link:hover {
        color: #b3b3b3;
    }

.btn2 {
    background-color: #8c8c8c;
    border: none;
    border-radius: 5px;
    color: white;
    margin: 10px;
    text-align: center;
}

    .btn2:hover {
        background-color: #737373;
    }
