<app-warehouse></app-warehouse>

<div class="row">
    <button class="btn1 col-md-2 offset-md-3" type="button" (click)="addInventory()">New Inventory</button>
    <div class="col-md-6 offset-md-3">
        <div class="input-group" id="adv-search">
            <input type="text" class="form-control" placeholder="Search for Inventories" />
            <div class="input-group-btn">
                <div class="btn-group" role="group">
                    <div class="dropdown dropdown-lg">
                        <button type="button" class="btn1 btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                        <div class="dropdown-menu dropdown-menu-right col-md-9" role="menu">
                            <form #searchForm="ngForm" class="form-horizontal" (ngSubmit)="searchInventories(searchForm)">
                                <div class="form-group">
                                    <label for="filter">Search by</label>
                                    <select class="form-control" id="sKey" name="sKey" [(ngModel)]="sKey">
                                        <option value="Inventory_ID" selected>ID</option>
                                        <option value="Governate">Governorate</option>
                                        <option value="City">City</option>
                                        <option value="Street">Street</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="contain">Search for Value</label>
                                    <input type="text" class="form-control" id="sValue" name="sValue" [(ngModel)]="sValue" />
                                </div>
                                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>Search</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th style="width:70px"></th>
                <th>ID</th>
                <th>address</th>
                <th>size</th>
            </tr>
        </thead>
        <tbody class="inventory-info" *ngFor="let i of inventories">
            <tr>
                <td style="width:70px">
                    <button class="btn4" type="button" (click)="deleteInventory(i.id)">x</button>
                </td>
                <td><button class="btn4" type="button" (click)="onInventoryClick(i.id)">{{ i.id }}</button></td>
                <td>{{ i.governorate }}, {{ i.city }}, {{ i.street }} st</td>
                <td>{{ i.length }}*{{ i.width }}*{{ i.height }}</td>
            </tr>
        </tbody>
    </table>
</div>