<app-warehouse></app-warehouse>

<div class="product-info">
    <form #productForm="ngForm" (ngSubmit)="saveEdits(productForm)">
        <!----<fieldset [disabled]="formDisabled">-->
        <div class="panel panel-primary col-md-9">
            <div class="panel-heading">
                <h3>Product Info</h3>
            </div>
            <fieldset [disabled]="formDisabled">
                <div class="panel-body">
                    <!--<div class="form-group">
                        Sold<input class="form-control col-md-2 offset-md-2" id="sold" name="sold" [(ngModel)]="sold" type="checkbox" [formControl]="sold" />
                    </div>
                    <div class="form-group">
                        Purchased<input class="form-control col-md-2 offset-md-2" id="purchased" name="purchased" [(ngModel)]="purchased" type="checkbox" [formControl]="purchased" />
                    </div>-->
                    <div class="form-group">
                        <label class="col-md-6 offset-md-2" for="id">Product ID</label>
                        <input disabled="disabled" class="form-control col-md-6 offset-md-2" id="id" name="id" [(ngModel)]="id" type="text" value={{productInfo.id}} />
                    </div>
                    <div class="form-group">
                        <label class="col-md-6 offset-md-2" for="name">Product Name</label>
                        <input class="form-control col-md-6 offset-md-2" id="name" name="name" [(ngModel)]="name" type="text" value={{productInfo.name}} />
                    </div>
                    <div class="form-group">
                        <label class="col-md-6 offset-md-2" for="description">Product Description</label>
                        <input class="form-control col-md-6 offset-md-2" id="description" name="description" [(ngModel)]="description" type="text" value={{productInfo.description}} />
                    </div>
                    <div class="form-group">
                        <label class="col-md-6 offset-md-2" for="price">Product Price</label>
                        <input class="form-control col-md-6 offset-md-2" id="price" name="price" [(ngModel)]="price" type="text" value={{productInfo.price}} />
                    </div>
                    <div class="form-group">
                        <label class="col-md-6 offset-md-2" for="weight">Product Weight</label>
                        <input class="form-control col-md-6 offset-md-2" id="weight" name="weight" [(ngModel)]="weight" type="text" value={{productInfo.weight}} />
                    </div>
                    <div class="form-group">
                        <label class="col-md-6 offset-md-2" for="length">Product Length</label>
                        <input class="form-control col-md-6 offset-md-2" id="length" name="length" [(ngModel)]="length" type="text" value={{productInfo.length}} />
                    </div>
                    <div class="form-group">
                        <label class="col-md-6 offset-md-2" for="width">Product Width</label>
                        <input class="form-control col-md-6 offset-md-2" id="width" name="width" [(ngModel)]="width" type="text" value={{productInfo.width}} />
                    </div>
                    <div class="form-group">
                        <label class="col-md-6 offset-md-2" for="height">Product Height</label>
                        <input class="form-control col-md-6 offset-md-2" id="height" name="height" [(ngModel)]="height" type="text" value={{productInfo.height}} />
                    </div>
                    <div class="form-group">
                        <label class="col-md-6 offset-md-2" for="unitsInStock">Number of units</label>
                        <input class="form-control col-md-6 offset-md-2" id="unitsInStock" name="unitsInStock" [(ngModel)]="unitsInStock" type="text" value={{productInfo.unitsInStock}} />
                    </div>
                </div>
            </fieldset>
            <div class="panel-footer">
                <button class="btn2 col-md-2 offset-md-2" type="button" (click)="editProduct()">Edit</button>
                <button [disabled]="formDisabled" type="submit" class="btn btn-primary col-md-2 offset-md-2">Save</button>
            </div>
        </div>
        <!----</fieldset>-->
    </form>
    <div>
        <button class="btn3 col-md-2" type="button" (click)="goToProducts()">Back</button>
    </div>
</div>
