Modules/modules_dll/*
*/Modules/modules_dll/*
Erp/obj/*
Erp/bin/*
*/node_modules/*
Erp/wwwroot/clientapp*
*[Dd]ebug.*
bin/*
*/bin/*
*/.vs/*
.vs/*
*.suo
*.tmp
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
npm-debug.log
package-lock.json

