
<!DOCTYPE html>
<html>
<head>
    <title>Erp Application : @ViewBag.Title</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    
    <header><h1>Welcome To Phyzia's Party</h1></header>
    <section>
        <h2>@ViewBag.Title</h2>
        <menu>
            <ul>
                @*<li><a asp-controller = "App" asp-action="Index">Home</a> </li>*@
                <li><a asp-controller="App" asp-action="About">About</a></li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li><a asp-controller="Account" asp-action="Logout">Log Out</a> </li>
                }
                
                



            </ul>
        </menu>
        @RenderBody()
    </section>
    @*<footer>Copyright 2017 Dutch Treat llc</footer>*@
    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/js/index.js"></script>
    @RenderSection("scripts", false)
</body>
</html>