<app-warehouse></app-warehouse>

<div class="row">
    <div class="border rounded p-3">
        <ul>
            <li>Deliveries Cycle Time: {{ report.deliveriesCycleTime }} day(s)</li>
            <li>Receipts Cycle Time: {{ report.receiptsCycleTime }} day(s)</li>
            <li>Inventory Value: {{ report.inventoryValue }} $</li>
            <li>Outgoing Value: {{ report.outgoingValue }} $</li>
            <li>Incoming Value: {{ report.incomingValue }} $</li>
            <li>Inventory Turnover: {{ report.inventoryTurnover }}</li>
        </ul>
    </div>
</div>
