<app-manufacturing></app-manufacturing>

<form style="margin-top: 20px">
  <div class="form-group">
    <label for="email">Product</label>
    <input type="email" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="email">Quantity To Produce</label>
    <input type="email" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="email">Bill Of Materials</label>
    <input type="email" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="email">Deadline Start</label>
    <input type="email" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="email">Responsible</label>
    <input type="email" class="form-control" id="email">
  </div>
  <button type="submit" class="btn btn-dark" (click)="returnToOrders()">Submit</button>
</form>