<app-manufacturing></app-manufacturing>

<form form #productForm="ngForm" (ngSubmit)="orderProduct(productForm)" style="margin-top: 20px">
  <div class="form-group">
    <label for="Product">Product</label>
    <input type="text" class="form-control" id="Product" name="productname" [(ngModel)]="productname">
  </div>
  <div class="form-group">
    <label for="Quantity To Produce">Quantity To Produce</label>
    <input type="text" class="form-control" id="QuantityToProduce" name="quantity" [(ngModel)]="quantity">
  </div>
  <div class="form-group">
    <label for="Materials">Materials</label>
    <input type="text" class="form-control" id="Materials" name="material" [(ngModel)]="material">
  </div>
  <div class="form-group">
    <label for="DealineStart">Dealine Start</label>
    <input type="text" class="form-control" id="DealineStart" name="deadlinestart" [(ngModel)]="deadlinestart">
  </div>
  <div class="form-group">
    <label for="Responsible">Responsible</label>
    <input type="text" class="form-control" id="Responsible" name="responsible" [(ngModel)]="responsible">
  </div>
  <button type="submit" class="btn btn-dark">Submit</button>
</form>

{{ productForm.value | json}}