<div class="container">
  <div class="form-group">

    <input type="text" class="form-control" placeholder="Search by Name" style="width:300px; float:right;margin:10px;" [(ngModel)]="searchTerm" />
  </div>
  <div class="row">

    <div class="card text-white bg-dark mb-3" style="width: 100%;margin:15px;padding:10px;" *ngFor="let customer of customers | customerFilter:searchTerm" (click)="editCustomer(customer.id)">
      <div>
          
        <h5 class="card-title" style="display:inline">  {{customer.name}} </h5>
      </div>
      <br />
      <h6 class="card-title">email: {{customer.email}} </h6>
      <h6 class="card-title">phone: {{customer.phone_number}} </h6>

      <div class="col-md-2">
        <button class="btn btn-info" (click)="editCustomer(customer.id)"><i class="fa fa-pencil"></i></button>
        <button class="btn btn-danger" (click)="deleteCustomer(customer.id)"><i class="fa fa-times"></i></button>
      </div>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="customer.png" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <button class="btn btn-info" routerLink="/editCustomer/0" style="margin:10px">CREATE CUSTOMER</button>
</div>
 
