<div>
  <h4>Available Products</h4>
</div>

<div class="row">
    <div class="product-info col-md-3" *ngFor="let p of availableProducts">
        <div class="border rounded p-3">
            <input type="image" class="image-upload" src="https://img.icons8.com/ios/50/000000/compact-camera.png" />
            <!--<div class="js--image-preview"></div>
            <!----<div class="upload-options">
                <label>
                    <input type="file" class="image-upload" accept="image/*" />
                </label>
            </div>-->
            <ul class="product-props">
                <li><h3>{{ p.name }}</h3></li>
                <li>Price: {{ p.price }} $</li>
            </ul>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
