
<!DOCTYPE html>
<html>
<head>
    <title>Erp Application : @ViewBag.Title</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>

    <header><h1>Welcome To Phyzia's Party</h1></header>
    <section>
        <h2>@ViewBag.Title</h2>
        <menu>
            <ul>
                @if (ViewBag.CurrentView == "login")
                {
                    <li><a asp-controller="Account" asp-action="Register">Manage the database</a> </li>
                }
                @if (ViewBag.CurrentView == "register")
                {
                    <li><a asp-controller="Account" asp-action="Login">Login</a> </li>
                }

                @if (User.Identity.IsAuthenticated)
                {
                    <li><a asp-controller="Account" asp-action="Logout">Log Out</a> </li>
                }
            </ul>
        </menu>
        @RenderBody()
    </section>
    @*<footer>Copyright 2017 Dutch Treat llc</footer>*@
    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/js/index.js"></script>
    @RenderSection("scripts", false)
</body>
</html>