 <div style="margin:30px">
  
  <h1 style="color:darkcyan">Dashboard</h1>
   <br />
  <div class="row">
    <div class="col">
      <div class="card" style="padding:10px;   background-color:white">
        <h6 class="card-title" style="color:darkorange">Opportunities </h6>
        <h2 style="color:dimgrey">{{ totalOpportunities()}}</h2>
      </div>
    </div>

    <div class="col">
      <div class="card" style="padding:10px;    background-color:white">
        <h6 class="card-title" style="color:dodgerblue">Expected Revenue</h6>
        <h2 style="color:dimgrey">{{totalExpectedRevenue()}} $</h2>
      </div>
    </div>

    <div class="col">
      <div class="card" style="padding:10px;  background-color:white">
        <h6 class="card-title" style=" color:palevioletred;">Total Customers</h6>
        <h2 style=" color:dimgrey;">{{ totalCustomer()}} </h2>
      </div>
    </div>

    <div class="col">
      <div class="card" style="padding:10px; background-color:white">
        <h6 class="card-title" style=" color: olive;">Average Deal Size</h6>
        <h2 style=" color: dimgrey;">{{totalExpectedRevenue() / totalOpportunities() }} $</h2>
      </div>
    </div>
  </div>
  <br />

  <div class="col " style="display:inline-flex">

    <div class="card" style="width:60%;margin-right:10px; margin-bottom:15px  ">
      <div class="card-header" style="color:#4e73df; font-size:17px">Expected Revenue</div>
      <div class="col">
        <canvas id="bar"></canvas>
      </div>
    </div>

    <div class="card" style="width:40%;  margin-bottom:15px; margin-left:10px">
      <div class="card-header" style="color:#4e73df; font-size:17px">Pipeline Analysis</div>
      <div class="col" style="margin-top:40px">
        <canvas id="doughnut"></canvas>
      </div>
    </div>


  </div>
  <br />


  <div class="col " style="display:inline-flex">
    <div style="width:60%;">
      <table class="table " style=" margin:20px ; background-color:darkseagreen; color:white">
        <thead>
          <tr>
            <th scope="col"> Customer </th>
            <th scope="col"> New </th>
            <th scope="col">Qualified </th>
            <th scope="col">Proposition</th>
            <th scope="col">Negotiation</th>
            <th scope="col">Won</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let customer of customers">
            <td>{{customer.name}}  </td>
            <td>{{ CustomerNewER(customer.id) }}  $ </td>
            <td>{{ CustomerQualifiedER(customer.id) }}  $ </td>
            <td>{{ CustomerPropositionER(customer.id) }}  $ </td>
            <td>{{ CustomerNegotiationER(customer.id) }}  $ </td>
            <td>{{ CustomerWonER(customer.id) }}  $ </td>
            <td>{{ CustomerTotalER(customer.id) }}  $ </td>
          </tr>
        </tbody>
      </table>


      <table class=" table " style="  margin:20px ; background-color:darkseagreen; color:white">
        <thead>
          <tr>
            <th> Salesperson </th>
            <th scope="col"> New </th>
            <th scope="col">Qualified </th>
            <th scope="col">Proposition</th>
            <th scope="col">Negotiation</th>
            <th scope="col">Won</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let s of salesman">
            <td>{{s.name}}  </td>
            <td>{{ SalesNewER(s.id) }}  $ </td>
            <td>{{ SalesQualifiedER(s.id) }}  $ </td>
            <td>{{ SalesPropositionER(s.id) }}  $ </td>
            <td>{{ SalesNegotiationER(s.id) }}  $ </td>
            <td>{{ SalesWonER(s.id) }}  $ </td>
            <td>{{ SalesTotalER(s.id) }}  $ </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div  style="width:30%;  margin :100px">
      
 
        <canvas id="wonLoss"></canvas>
        <div class="row" style="margin-left:80px">
          <h5 class="col" style="color:darkgreen"> Won: {{Won()}}</h5>
          <h5 class="col"  style="color: darkred"> Loss: {{loss()}}</h5>
        
      </div>
    </div>
  </div>



</div>
