<app-manufacturing></app-manufacturing>

<br />
<h1 style="color:darkcyan"> Bill of Materials</h1>
<br />

<div class="container">

    <table class="table table-dark " style=" margin:20px ;  color:white">
        <thead>
            <tr>
                <th scope="col"> Name </th>
                <th scope="col"> valid From </th>
                <th scope="col">valid Until </th>
                <th scope="col">quantity</th>
                <th scope="col">price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let m of materials">
                <td>{{m.name}} </td>
                <td>{{ m.validFrom  }} </td>
                <td>{{ m.validUntil }} </td>
                <td>{{ m.quantity }} </td>
                <td>{{ m.price }} $ </td>

            </tr>
        </tbody>
    </table>
</div>