<app-warehouse></app-warehouse>

<div class="row">
    <button class="btn1 col-md-2 offset-md-3" type="button" (click)="addProduct()">Add Product</button>
    <div class="col-md-6 offset-md-3">
        <div class="input-group" id="adv-search">
            <input type="text" class="form-control" placeholder="Search for products" />
            <div class="input-group-btn">
                <div class="btn-group" role="group">
                    <div class="dropdown dropdown-lg">
                        <button type="button" class="btn1 btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                        <div class="dropdown-menu dropdown-menu-right col-md-9" role="menu">
                            <form #searchForm="ngForm" class="form-horizontal" (ngSubmit)="searchProducts(searchForm)">
                                <div class="form-group">
                                    <label for="filter">Search by</label>
                                    <select class="form-control" id="sKey" name="sKey" [(ngModel)]="sKey">
                                        <option value="Product_ID" selected>ID</option>
                                        <option value="Product_Name">Name</option>
                                        <option value="Product_Position">Position</option>
                                        <option value="Product_Price">Price</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="contain">Search for Value..</label>
                                    <input type="text" class="form-control" id="sValue" name="sValue" [(ngModel)]="sValue" />
                                </div>
                                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>Search</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="product-info col-md-3" *ngFor="let p of products">
        <div class="border rounded p-3">
            <input type="image" class="image-upload" src="https://img.icons8.com/ios/50/000000/compact-camera.png" />
            <!--<div class="js--image-preview"></div>
    <!----<div class="upload-options">
        <label>
            <input type="file" class="image-upload" accept="image/*" />
        </label>
    </div>-->
            <ul class="product-props">
                <li><h3>{{ p.name }}</h3></li>
                <li>Price: {{ p.price }} $</li>
                <li>Units: {{ p.unitsInStock }}</li>
            </ul>
            <button class="btn2" type="button" (click)="onProductClick(p.id)">See All Info</button>
            <button class="btn2" type="button" (click)="deleteProduct(p.id)">Delete</button>
        </div>
    </div>
</div>
