<div>
    <nav class="navbar navbar-expand-md sticky-top justify-content-between">
        <button class="navbar-toggler" data-toggle="collapse" data-target="#warehouseMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="warehouseMenu" class="navbar-collapse" collapse>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="">Profile</a>
                </li>
                <li class="nav-item">
                    <button class="nav-link" (click)="goToCart()">Cart</button>
                </li>
            </ul>
        </div>
    </nav>
</div>

<form #addressForm="ngForm" (ngSubmit)="addCustomerAddress(addressForm)">
    <div class="panel panel-primary col-md-9">
        <div class="panel-body">
            <div class="form-group">
                <label class="col-md-6 offset-md-2" for="city">City</label>
                <input class="form-control col-md-6 offset-md-2" id="city" name="city" [(ngModel)]="city" type="text" placeholder="City" />
            </div>
            <div class="form-group">
                <label class="col-md-6 offset-md-2" for="governate">Governorate</label>
                <input class="form-control col-md-6 offset-md-2" id="governate" name="governate" [(ngModel)]="governate" type="text" placeholder="Governorate" />
            </div>
            <div class="form-group">
                <label class="col-md-6 offset-md-2" for="street">Street</label>
                <input class="form-control col-md-6 offset-md-2" id="street" name="street" [(ngModel)]="street" type="text" placeholder="Street" />
            </div>
            <div class="form-group">
                <label class="col-md-6 offset-md-2" for="zip_code">Zip Code</label>
                <input class="form-control col-md-6 offset-md-2" id="zip_code" name="zip_code" [(ngModel)]="zip_code" type="number" placeholder="Zip code" />
            </div>
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-primary col-md-2 offset-md-4">Save</button>
        </div>
    </div>
</form>