<div class="container-fluid">
    <accounting-body></accounting-body>
    <div class="row container-fluid">
        <button class="col m-2 form-control btn-outline-info" align="right" (click)="show = true;">show bills</button>
        <button class="col m-2 form-control btn-outline-info" align="right" (click)="getSoldProduct();show1 = true;">show products Profit</button>
    </div>
</div>
<!--
<div class="row container-fluid">
    <div class="col-md-3 bg-light p-2">
        <form>
            <div class="col">
                <label class="fa fa-calendar"><strong> Start Date</strong></label>
                <input type="date" class="form-control" />
            </div>
        </form>
    </div>
    <div class="col-md-3 bg-light p-2">
        <form>
            <div class="col">
                <label class="fa fa-calendar"><strong> End Date</strong></label>
                <input type="date" class="form-control" />
            </div>
        </form>
    </div>
    <div class="col-md-6 bg-light p-2">
        <form class="row">
            <div class="col-md-8">
                <h6> &nbsp; </h6>
                <input type="search" class="form-control" placeholder="Search Activities" />
            </div>
            <div class="col-md-4">
                <h6> &nbsp; </h6>
                <button class="form-control btn btn-outline-primary">search</button>
            </div>
        </form>
    </div>
</div>
-->
<!--
<div class="row container-fluid">
    <div class="col-md-4 well well-sm" *ngFor="let s of sold_products">
        <div class="card bg-light m-1 p-2">
            <div> Product ID : {{ s.productid }}</div>
            <div> total Units in all orders : {{ s.unitsSold }}</div>
            <div> profit : {{ s.profit }}</div>
            <div> price: {{ s.price }}</div>
            <div> cost: {{ s.cost }}</div>
            <button class="btn btn-success">close</button>
        </div>
    </div>
</div>
    -->
<div *ngIf="show; else elseBlock" class="container-fluid">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Supplier ID</th>
                <th scope="col">Supplier Name</th>
                <th scope="col">Supplier Phone</th>
                <th scope="col">Supplier Mail </th>
                <th scope="col">Product Name </th>
                <th scope="col">Product Cost </th>
                <th scope="col">Supplied units </th>
                <th scope="col">Total Cost </th>
                <th scope="col">Paid_up </th>
                <th scope="col">depts </th>

            </tr>
        </thead>
        <tbody *ngFor="let i of invoice">
            <tr class="table-active">
                <td> {{ i.suppId }} </td>
                <td> {{ i.suppName }} </td>
                <td> {{ i.suppPhone }} </td>
                <td> {{ i.suppMail }} </td>
                <td> {{ i.productName }} </td>
                <td> {{ i.productCost }} </td>
                <td> {{ i.suppUnits }} </td>
                <td> {{ i.totalCost }} </td>
                <td> {{ i.totalPaid }} </td>
                <td> {{  i.totalCost - i.totalPaid}} </td>
            </tr>
        </tbody>
    </table>
    <button class="col m-2 form-control btn-outline-info" align="right" (click)="show = false;">close</button>
</div>
<div *ngIf="show1; else elseBlock" class="container-fluid">
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Product ID</th>
                <th scope="col">total Units in all orders</th>
                <th scope="col">price </th>
                <th scope="col">cost </th>
                <th scope="col">profit</th>
            </tr>
        </thead>
        <tbody *ngFor="let s of sold_products">
            <tr class="table-active">
                <td> {{ s.productid }} </td>
                <td> {{ s.unitsSold }} </td>
                <td> {{ s.price }} </td>
                <td> {{ s.cost }} </td>
                <td> {{ s.profit }} </td>
            </tr>
        </tbody>
    </table>
    <button class="col m-2 form-control btn-outline-info" align="right" (click)="show1 = false;">close</button>
</div>