<!--
<div class="row container-fluid">
    <div class="col-md-3 bg-light p-2">
        <form>
            <div class="col">
                <label class="fa fa-calendar"><strong> Start Date</strong></label>
                <input type="date" class="form-control" />
            </div>
        </form>
    </div>
    <div class="col-md-3 bg-light p-2">
        <form>
            <div class="col">
                <label class="fa fa-calendar"><strong> End Date</strong></label>
                <input type="date" class="form-control" />
            </div>
        </form>
    </div>
    <div class="col-md-6 bg-light p-2">
        <form class="row">
            <div class="col-md-8">
                <h6> &nbsp; </h6>
                <input type="search" class="form-control" placeholder="Search Activities" />
            </div>
            <div class="col-md-4">
                <h6> &nbsp; </h6>
                <button class="form-control btn btn-outline-primary">search</button>
            </div>
        </form>
    </div>
</div>
-->
<div class="row container-fluid">
    <h1>Sold Products</h1><br />
    <div class="col-md-4 well well-sm" *ngFor="let s of sold_products">
        <div class="card bg-light m-1 p-2">
            <div> Product ID : {{ s.productid }}</div>
            <div> total Units in all orders : {{ s.unitsSold }}</div>
            <div> total Units in all orders : {{ s.profit }}</div>
            <div> total Units in all orders : {{ s.price }}</div>
            <div> total Units in all orders : {{ s.cost }}</div>
            <button class="btn btn-success">close</button>
        </div>
    </div>
</div>

<div class="row container-fluid">
    <h2>supplied Products</h2><br />
    <div class="col-md-4 well well-sm" *ngFor="let i of invoice">
        <div class="card bg-light m-1 p-2">
            <div> suppId : {{ i.suppId }}</div>
            <div> suppName : {{ i.suppName }}</div>
            <div> suppPhone: {{ i.suppPhone }}</div>
            <div> suppMail : {{ i.suppMail }}</div>
            <div> method: {{ i.payment_method }}</div>
            <div> pName: {{ i.productName }}</div>
            <div> pCost: {{ i.productCost }}</div>
            <div> units : {{ i.suppUnits }}</div>
            <div> tCost: {{ i.totalCost }}</div>
            <div> Paid : {{ i.totalPaid }}</div>
            <div> depts : {{ i.depts }}</div>

            <button class="btn btn-success">close</button>
        </div>
    </div>
</div>


