<!--
<div class="row container-fluid">
    <div class="col-md-3 bg-light p-2">
        <form>
            <div class="col">
                <label class="fa fa-calendar"><strong> Start Date</strong></label>
                <input type="date" class="form-control" />
            </div>
        </form>
    </div>
    <div class="col-md-3 bg-light p-2">
        <form>
            <div class="col">
                <label class="fa fa-calendar"><strong> End Date</strong></label>
                <input type="date" class="form-control" />
            </div>
        </form>
    </div>
    <div class="col-md-6 bg-light p-2">
        <form class="row">
            <div class="col-md-8">
                <h6> &nbsp; </h6>
                <input type="search" class="form-control" placeholder="Search Activities" />
            </div>
            <div class="col-md-4">
                <h6> &nbsp; </h6>
                <button class="form-control btn btn-outline-primary">search</button>
            </div>
        </form>
    </div>
</div>
-->
<div class="row container-fluid">
    <div class="col-md-4 well well-sm" *ngFor="let s of sold_products">
        <div class="card bg-light m-1 p-2">
            <div> Product ID : {{ s.productid }}</div>
            <div> total Units in all orders : {{ s.unitsSold }}</div>
            <button class="btn btn-success">close</button>
        </div>
    </div>
</div>


