<div class="row">
    <div class="col-md-4">
        <h2><strong>Create Invoice</strong> </h2>
    </div>
    <!--
    <div class="col-md-8 text-right">
        <button class="btn btn-primary mr-2">Preview</button>
        <div class="btn-group mr-2" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Send via
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" href="#"> PayPal </a>
                <a class="dropdown-item" href="#"> Share Link myself</a>
            </div>
        </div>
        <div class="btn-group mr-2" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Save as
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" href="#"> draft </a>
                <a class="dropdown-item" href="#">Template</a>
            </div>
        </div>
    </div>
    -->
</div>
<hr />
<div class="row mb-4">
    <div class="col-md-2">
        <h5 class="mt-2">Invoice Date</h5>
    </div>
    <div class="col-md-3">
        <input class="form-control" type="date" />
    </div>
  
    <div class="col-md-3 offset-md-1">
        <h5 class="mt-2">Invoice Number</h5>
    </div>
    <div class="col-md-3">
        <input class="form-control" type="number" />
    </div>

    <!--
    <div class="col-md-8">
        <div class="input-group">
            <div class="input-group-append">
                <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Invoice for quantity (default)</option>
                    <option value="1">Invoice for amount only</option>
                    <option value="2">Invoice for hours</option>
                    <option value="3">Create a new tenplate</option>
                    <option value="4">Manage tenplate settings</option>
                </select>
            </div>
        </div>
    </div>
    -->
</div>
    <div class="row">
        <div class="col">
            <h4 class="text-left col mt-5 p-2">Your Business Information<a href="#businessInfo" data-toggle="modal" style="font-size: 0.8rem;">  Edit</a></h4>
        </div>
        <div class="modal fade" id="businessInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabel"><strong>Your Business Information</strong></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label for="businessName"><strong>Department name</strong></label>
                                    <input type="text" class="form-control" id="businessName" placeholder="Business name">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label for="employeeID"><strong>ID</strong></label>
                                    <input type="text" class="form-control" id="employeeID" placeholder="Enter your ID">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    <label for="firstName"><strong>First name</strong></label>
                                    <input type="text" class="form-control" id="firstName" placeholder="First name">
                                </div>
                                <div class="col">
                                    <label for="lastName"><strong>Last name</strong></label>
                                    <input type="text" class="form-control" id="lastName" placeholder="Last name">
                                </div>
                            </div>
                            <!--
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <label for="address"><strong>Address</strong></label>
                                    <div class="row input-group">
                                        <div class="col-md-12 input-group-append">
                                            <select class="custom-select" id="inputGroupSelect01">
                                                <option selected>Don't show on invoice</option>
                                                <option value="1">User Address</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-7">
                                    <label for="phone"><strong>Phone</strong></label>
                                    <div class="row input-group">
                                        <div class="col-md-12 input-group-append">
                                            <select class="custom-select" id="inputGroupSelect01">
                                                <option selected>Don't show on invoice</option>
                                                <option value="1">User phone</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <label for="fax"><strong>Fax</strong></label>
                                    <input type="number" class="form-control" id="fax" placeholder="Fax">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-9">
                                    <label for="email"><strong>Email</strong></label>
                                    <div class="row input-group">
                                        <div class="col-md-12 input-group-append">
                                            <select class="custom-select" id="inputGroupSelect01">
                                                <option value="1">Don't show on invoice</option>
                                                <option selected>User Email</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            -->
                            <div class="row mb-3">
                                <div class="col-md-9">
                                    <label for="additionalInformation"><strong>Additional information</strong></label>
                                    <input type="text" class="form-control" id="additionalInformation" placeholder="">
                                </div>
                            </div>
                            <!--
                            <div class="row mb-3">
                                <div class="col">
                                    <label for="taxID"><strong>Tax ID</strong></label>
                                    <input type="text" class="form-control" id="taxID" placeholder="Tax ID">
                                </div>
                                <div class="col">
                                    <label for="additionalInformation"><strong>Additional information</strong></label>
                                    <input type="text" class="form-control" id="additionalInformation" placeholder="Example: business hours">
                                </div>
                            </div>
                            -->
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <h4 class="text-left col mt-5 p-2"> supplier data<a href="#newSupp" data-toggle="modal" style="font-size: 0.8rem;">  new supplier</a></h4>
            <div class="modal fade" id="newSupp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-md" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalLabel"><strong>new supplier Information</strong></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <label for="businessName"><strong> name</strong></label>
                                        <input type="text" class="form-control" id="suppName" placeholder="name">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <label for="suppID"><strong>ID</strong></label>
                                        <input type="text" class="form-control" id="suppID" placeholder="ID">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <label for="suppMail"><strong>mail</strong></label>
                                        <input type="text" class="form-control" id="suppMail" placeholder="e-mail">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <label for="suppPhone"><strong>phone</strong></label>
                                        <input type="number" class="form-control" id="suppPhone" placeholder="phone">
                                    </div>
                                </div>                            
                        </form>
                    </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-2">
                <div class="col-md-6 text-right mt-2">
                    <label>ID</label>
                </div>
                <div class="col-md-6">

                    <input class="form-control" type="text" placeholder="Supplier ID" />
                </div>
            </div>

            <div class="row m-2">
                <div class="col-md-6 text-right mt-2">
                    <label>Due Date</label>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <div class="input-group-append">
                            <select class="custom-select" id="inputGroupSelect01">
                                <option value="1">Enter a due date</option>
                                <option selected>Due on receipt</option>
                                <option value="2">Due on 10 days</option>
                                <option value="3">Due on 15 days</option>
                                <option value="4">Due on 30 days</option>
                                <option value="5">Due on 60 days</option>
                                <option value="6">Due on 90 days</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    
    <div class="row clearfix">
        <div class="col">
            <h4 class="col-md-4 offset-md-4 mt-5">product info</h4>
        </div>
        <div class="table-responsive-md">
            <table class="table" id="tab_logic">
                <thead>
                    <tr class="row container-fluid">
                        <th class="col-md-2 text-center"> Product ID </th>
                        <th class="col-md-4 text-center"> Product name </th>
                        <th class="col-md-3 text-center"> Qty </th>
                        <th class="col-md-3 text-center"> Price </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="row container-fluid" id='addr0'>
                        <td class="col-md-2"><input type="text" name='ID[]' placeholder='Item ID' class="form-control" /></td>
                        <td class="col-md-4"><input type="text" name='Name[]' placeholder='Item Name' class="form-control" /></td>
                        <td class="col-md-3"><input type="number" name='qty[]' placeholder='qty' class="form-control qty" step="0" min="0" /></td>
                        <td class="col-md-3"><input type="number" name='price[]' placeholder='price' class="form-control price" step="0.00" min="0" /></td>
                    </tr>
                    <tr class="row container-fluid" id='addr1'></tr>
                </tbody>
            </table>
        </div>

    </div>
<!--
    <div class="row clearfix">
        <div class="col-md-12">
            <button id="add_row" class="btn btn-outline-primary pull-left">Add Row</button>
            <button id='delete_row' class="pull-right btn btn-outline-primary">Delete Row</button>
        </div>
    </div>
-->
<!--
    <div class="row container-fluid m-2">
        <div class="col-md-6">
            <form class="form-inline">
                <div class="custom-control custom-checkbox my-1 mr-sm-2">
                    <input type="checkbox" class="custom-control-input" id="chk1" (click)="show1 = !show1" />
                    <label class="custom-control-label" for="chk1">Allow partial payment.</label>
                </div>
                <div id="partial" class="row container-fluid" *ngIf="show1; else elseBlock">
                    <div>
                        <p>Minimum Amount Due (optional)</p>
                        <input class="form-control" type="number" />
                    </div>
                </div>
                <div class="custom-control custom-checkbox my-1 mr-sm-2">
                    <input type="checkbox" class="custom-control-input" id="chk2" />
                    <label class="custom-control-label" for="chk2">Allow partial payment.</label>
                </div>
            </form>




        </div>
        <div class="pull-right col-md-6">
            <table class="table table-bordered table-hover" id="tab_logic_total">
                <tbody>
                    <tr>
                        <th class="text-center">Sub Total</th>
                        <td class="text-center"><input type="number" name='sub_total' placeholder='0.00' class="form-control" id="sub_total" readonly /></td>
                    </tr>
                    <tr>
                        <th class="text-center">Tax</th>
                        <td class="text-center">
                            <div class="input-group mb-2 mb-sm-0">
                                <input type="number" class="form-control" id="tax" placeholder="0">
                                <div class="input-group-addon">%</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="text-center">Tax Amount</th>
                        <td class="text-center"><input type="number" name='tax_amount' id="tax_amount" placeholder='0.00' class="form-control" readonly /></td>
                    </tr>
                    <tr>
                        <th class="text-center">Grand Total</th>
                        <td class="text-center"><input type="number" name='total_amount' id="total_amount" placeholder='0.00' class="form-control" readonly /></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
-->
    <hr />
<!--
    <div class="row mt-4 mb-4">
        <form class="col">
            <label><strong>Note to recipient</strong></label>
            <textarea class="form-control" rows="5" id="Note" placeholder="Example: 'Thank you for your business'"></textarea>
        </form>
        <form class="col">
            <label><strong>Terms and Conditions</strong></label>
            <textarea class="form-control" rows="5" id="Terms" placeholder="Include your return or cancelation policy"></textarea>
        </form>
    </div>
    <div class="row container-fluid">
        <button class="btn btn-secondary">Attach Files</button>
    </div>
    <div class="row container-fluid">
        <p class="mt-2" style="color:#566573;">
            <i>
                It is the user's responsibility to create an invoice that is compliant with local laws and regulations,
                including, but not limited to, the application of the correct VAT rate(s).
            </i>
        </p>
    </div>
-->
    <div class="row">
        <div class="col-md-8 text-right offset-md-4">
            <button class="btn btn-primary mr-2">submit</button>
            <!--
            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-secondary mr-2 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Send via
                </button>

                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a class="dropdown-item" href="#"> PayPal </a>
                    <a class="dropdown-item" href="#"> Share Link myself</a>
                </div>
            </div>
            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Save as
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a class="dropdown-item" href="#"> draft </a>
                    <a class="dropdown-item" href="#">Template</a>
                </div>
            </div>
            -->
        </div>
    </div>
