<div class="row">
    <div>
        <nav class="navbar navbar-dark bg-dark navbar-expand-md sticky-top justify-content-between">
            <a class="navbar-brand" routerLink="">{{ title }}</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" routerLink="/warehouse">Overview</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" routerLink="/warehouse/orders">Orders</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" routerLink="/warehouse/products">Products</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" routerLink="/warehouse/configuration">Configuration</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </div>
</div>

<router-outlet></router-outlet>


<!--
    List<Product> products = await _iProductRepository.GetAll(error);
    string info = await _iProductRepository.getInfo(id, key, error);
    Product product = await _iProductRepository.GetById(id, error);
    Order order = await _orderRepository.GetById(id, error);
    List<Order> orders = await _orderRepository.ShowCompletedOrders(error);
    List<Product_In_Order> orders = await _orderRepository.ShowProductsInOrder(id, error);
-->
