.navbar {
    background-color: #262626;
    margin: 10px;
}

.nav-link {
    color: white;
}

    .nav-link:hover {
        color: #2952a3;
    }

.dropdown-menu {
    background-color: #262626;
}

.dropdown-item {
    background-color: #262626;
    color: white;
}
    .dropdown-item:hover {
        color: #2952a3;
    }