.navbar {
    background-color: #35475e;
}

.nav-link {
    color: whitesmoke;
}

    .nav-link:hover {
        color: #b3b3b3;
    }

.dropdown-menu {
    background-color: #35475e;
}

.dropdown-item {
    background-color: #35475e;
    color: whitesmoke;
}
    .dropdown-item:hover {
        color: #b3b3b3;
    }