<div>
    <nav class="navbar navbar-expand-md sticky-top justify-content-between">
        <button class="navbar-toggler" data-toggle="collapse" data-target="#warehouseMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="warehouseMenu" class="navbar-collapse" collapse>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="">Modules</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/warehouse">Overview</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/warehouse/orders">Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/warehouse/products">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/warehouse/configuration">Configuration</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<router-outlet></router-outlet>