@section Scripts
{


    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/monitoring.js"></script>
}
<a href="~/js/Design.xml">~/js/Design.xml</a>
<div>
    <svg id="WorkFlow" width="1000" height="1000" xmlns="http://www.w3.org/2000/svg"> </svg>
    @*<canvas id="myCanvas" width="1000" height="1000" style="border:1px solid #000000;"></canvas>*@
    <button style="float:left;" onclick="readXml()">show</button>
    <button style="float:left;" onclick="change()">change</button>
</div>

