@section Scripts
{

    <script src="~/js/monitoring.js"></script>
}

<div>
    <canvas id="myCanvas" width="1000" height="1000" style="border:1px solid #000000;"></canvas>
    <button style="float:left;" onclick="readXml()">show</button>
 

</div>

