@model IndexViewModel

@{
    ViewBag.Title = "Login Page";
}
@section Scripts
    {

    <script src="~/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}
<div>
    <div>
        <ul>
            <li><a asp-controller="Account" asp-action="Register">Manage the database</a> </li>
        </ul>
    </div>
    <div>
        <label id="loginToggle">Log in</label>
    </div>
    <div>
        <form class="popup-form" id="signIn-form" asp-controller="Account" asp-action="Login" method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div>
                <label asp-for="SignInModel.Email">Username</label>
                <input type="email" asp-for="SignInModel.Email" />
                <span asp-validation-for="SignInModel.Email"></span>
            </div>
            <div>
                <label asp-for="SignInModel.Password">Password</label>
                <input type="password" asp-for="SignInModel.Password" />
                <span asp-validation-for="SignInModel.Password"></span>
            </div>
            <div>
                <label>Remember Me?</label>
                <input type="checkbox" />
            </div>
            <div>
                <input type="submit" value="Login" />
            </div>
        </form>
    </div>
</div>

