@model IndexViewModel

@{
    ViewBag.Title = "Register Page";
}
<div>
    <div>
        <label id="loginToggle">Sign In</label>
        <label id="registerToggle">Register</label>
    </div>
    <div>
        <form class="popup-form" id="signIn-form" asp-controller="Account" asp-action="Login" method="post">
            <div>
                <label>Username</label>
                <input type="email" asp-for="SignInModel.Email" />
            </div>
            <div>
                <label>Password</label>
                <input type="password" asp-for="SignInModel.Password" />
            </div>
            <div>
                <label>Remember Me?</label>
                <input type="checkbox" />
            </div>
            <div>
                <input type="submit" value="Login" />
            </div>
        </form>
    </div>
    <div>
        <form class="popup-form" id="register-form" asp-controller="Account" asp-action="Register" method="post">
            <label>Your First Name:</label>
            <br />
            <input asp-for="Register.FisrtName" />
            <br />
            <label>Your Last Name:</label>
            <br />
            <input asp-for="Register.LastName" />
            <br />
            <label>Email:</label>
            <br />
            <input type="email" asp-for="Register.Email" />
            <br />
            <label>Password</label>
            <br />
            <input type="password" asp-for="Register.Password" />
            <br />
            <input type="submit" value="SignUp" />
        </form>
    </div>

</div>

