
<form #opportunityForm="ngForm" ngNativeValidate (ngSubmit)="saveOpportunity()">
  <div class="container" >
    <div class="row" style=" padding:50px; padding-left:100px" >
      <div class="col-md-8" *ngIf="opportunity">
        <h1 style="color:darkcyan;">{{ Title }}</h1>
        <br />

        <div class="form-group">
          <label for="title"> Opportunity title:</label>
          <input required type="text" class="form-control" id="title" name="title" [(ngModel)]="opportunity.title">
        </div>

        <div class="row">
          <div class="col" [class.has-error]="customer.touched && customer.invalid">
            <label for="customer" class="control-label"> Customer:</label>
            <select class="form-control" id="customer" name="customer" [(ngModel)]="opportunity.customer_id" required #customer="ngModel">
              <option disabled [ngValue]="null">-Select Customer-</option>
              <option *ngFor="let customer of customers" [value]="customer.id">{{ customer.name}} </option>
            </select>
          </div>

          <div class="col">
            <label for="sales" class="control-label"> salesman:</label>
            <select class="form-control" id="sales" name="sales" [(ngModel)]="opportunity.salesman_id" required #sales="ngModel">
              <option disabled [ngValue]="null">-Select Salesman-</option>
              <option *ngFor="let sales of salesman" [value]="sales.id">{{ sales.name}} </option>
            </select>
          </div>
        </div>


        <div class="form-group">
          <label for="expected_revenue"> Expected Revenue:</label>

          <input required type="text" class="form-control" id="expected_revenue" name="expected_revenue" [(ngModel)]="opportunity.expected_revenue" placeholder="0.00 $">

        </div>

        <div class="row">
          <div class="col">
            <label for="start_date">start date:</label>
            <input required type="date" class="form-control" id="start_date" name="start_date" [(ngModel)]="opportunity.start_date">
          </div>

          <div class="col">
            <label for="status" class="control-label"> Status:</label>
            <select class="form-control" id="status" name="status" [(ngModel)]="opportunity.status" #status="ngModel">

              <option value="1">New </option>
              <option value="2">Qualified</option>
              <option value="3">Proposition</option>
              <option value="4">Negotiation </option>
              <option value="5">Won </option>
            </select>
          </div>
         </div>

          <div class="row">
            <div class="col">
              <label for="product" class="control-label">Add Product:</label>
              <select class="form-control" id="product" name="product" [(ngModel)]="opportunity.product_id" #product="ngModel">
                <option disabled [ngValue]="null">-Select product-</option>
                <option *ngFor="let product of products" [value]="product.id">{{ product.name}} </option>
              </select>
            </div>
            <div class="col">
              <label for="units">Quantity:</label>
              <input required type="text" class="form-control" id="units" name="units" [(ngModel)]="opportunity.quantity">
            </div>
          </div>
        <br/>
          <button type="button" class="btn btn-info" (click)="addProducts() ">Add Product</button>

          <br />
          <br />

          <button type="submit" class="btn btn-info" [disabled]="opportunityForm.invalid">Save</button>
        </div>
      </div>
  </div>
</form>
 


{{ opportunityForm.value | json}}
<br />
<br />
 

