@model IndexViewModel

@{
    ViewBag.Title = "System Page";
}

@{
    Layout = "~/Views/Shared/_System.cshtml";
}

@section Scripts
    {
    
    <script src="~/clientapp/dist/runtime.js"></script>
    <script src="~/clientapp/dist/polyfills.js"></script>
    <script src="~/clientapp/dist/styles.js"></script>
    <script src="~/clientapp/dist/vendor.js"></script>
    <script src="~/clientapp/dist/main.js"></script>
}

<app-root>
    <div class="spinner-border text-secondary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</app-root>

<accounting-module></accounting-module>

