@section scripts
{

    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/DisplayUserTask.js"></script>



}

<div id="UserTaskHolder" class="col-md-7 offset-md-4 mt-4" name=@ViewBag.Id>

</div>