@{
    ViewBag.Title = "Product Manager";
}
@section base_href
{
    <base href="/store/@ViewBag.Organization/">

}
@section Scripts
{
    <script src="~/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/productmanager/dist/runtime.js"></script>
    <script src="~/productmanager/dist/polyfills.js"></script>
    <script src="~/productmanager/dist/styles.js"></script>
    <script src="~/productmanager/dist/vendor.js"></script>
    <script src="~/productmanager/dist/main.js"></script>

}
@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
<div id="Orgainzation" name=@ViewBag.Organization>
    <product-manager></product-manager>
</div>
