<div class="container-fluid">
    <accounting-body></accounting-body>
    <div class="row container-fluid">
        <input  class="col m-2 form-control" #newHero placeholder="Enter customer ID" align="right">
        <button class="col m-2 form-control btn-outline-info" align="right" (click)="loadCustomerByID(newHero.value);showO = false;showP = false;">Search</button>
        <button class="col m-2 form-control btn-outline-info" align="right" (click)="loadCustomerAccount(newHero.value);">Customer Account</button>
    </div>
</div>
<div *ngFor="let f of account" class="container-fluid">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">account ID</th>
                <th scope="col">account Money</th>
                <th scope="col">creation date</th>
                <th scope="col">account depts</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-active">
                <td>{{f.account_id}}</td>
                <td>{{f.account_money}}</td>
                <td>{{f.creation_date}}</td>
                <td>{{f.account_debts}}</td>
            </tr>
        </tbody>
    </table>

</div>

<div *ngFor="let c of customer" class="container-fluid">
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Gender</th>
                <th scope="col">Loyality Points</th>
                <th scope="col">Company</th>
                <th class="text-center" scope="col">orders</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-active">
                <td>{{c.customer_id}}</td>
                <td>{{c.name}}</td>
                <td>{{c.gender}}</td>
                <td>{{c.loyality_points}}</td>
                <td>{{c.company}}</td>
                <td> <button class="form-control btn-outline-info" (click)="loadCustomerOrders(c.customer_id); showO = true; showP = false"> Show customer orders </button></td>
            </tr>
        </tbody>
    </table>
   
</div>
<div *ngIf="showO; else elseBlock" class="container-fluid">
    <hr />
    <div *ngFor="let co of customer_orders">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Order ID</th>
                    <th scope="col">requiredDate</th>
                    <th scope="col">completedDate</th>
                    <th scope="col">orderStatus</th>
                    <th scope="col">paymentID</th>
                    <th scope="col">show products</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-active">
                    <td>{{co.id}}</td>
                    <td>{{co.requiredDate }}</td>
                    <td>{{co.completedDate}}</td>
                    <td>{{co.orderStatus}}</td>
                    <td>{{co.paymentID}}</td>
                    <td><button class="form-control btn-outline-info " (click)="loadOrderProducts(co.id);showP = true">Show products</button></td>
                </tr>
            </tbody>
        </table>
              
    </div>
    
</div>
<div *ngIf="showP; else elseBlock" class="container-fluid">
    <hr />
    <div *ngFor="let op of order_products">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Product id</th>
                    <th scope="col">name</th>
                    <th scope="col">units</th>
                    <th scope="col">price</th>
                    <th scope="col">total price</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-active">
                    <td>{{op.id}}</td>
                    <td>{{ op.name}}</td>
                    <td>{{op.unitsInOrder}}</td>
                    <td>{{op.price}}</td>
                    <td>{{op.totalPrice}}</td>

                </tr>
            </tbody>
        </table>
        <!--
    <div class="card card-body m-1 p-2" style="background:#b6bbc4">
        <div> Product id : {{ op.id }}</div>
        <div> name : {{ op.name }}</div>
        <div> units : {{ op.unitsInOrder }}</div>
        <div> price : {{ op.price }}</div>
        <div> price : {{ op.totalPrice }}</div>
    </div>
    -->
    </div>
    <button (click)="showO = false; showP = false" class="form-control btn-outline-info mt-5 mb-5">close </button>
</div>
        <!--
        <div class="col-md-4 bg-light m-2 p-2 card card-body">
            <div class="row">
                <h6 class="text-left col m-2 p-2"><strong>Your Balance</strong></h6>
                <a class="text-right col m-2 p-2" data-toggle="tab" href="#nav-Wallet" style="color:DodgerBlue;">Details</a>
            </div>
            <p class="m-2 p-2" style="color:#566573;">You don't need a balance to shop or send payments</p>
            <h6 class="text-left col m-2 p-2"><strong>Currencies</strong></h6>
            <h6 class="text-center">{{money}} 0.00 EUR</h6>
        </div>
        <div class="col-md-7 bg-light m-2 p-2 card card-body">
            <div class="row">
                <a class="text-left col m-2 p-2" href="#nav-Activity" style="color:DodgerBlue;">Recent Activity</a>
            </div>
            <p class="m-2 p-2" style="color:#17202A;">
                Keep track of your most recent stuff here when you shop, send, or receive payments.
                Don’t see a past payment? Search by date in your <a href="#"></a><br />
            </p>
        </div>
    </div>
    <div class="row container-fluid">
        <div class="col-md-4 bg-light m-2 p-2 card card-body">
            <div class="row">
                <h6 class="text-left col m-2 p-2"><strong>Bank accounts and cards</strong></h6>
            </div>
            <p class="m-2 p-2" style="color:#566573;">Add your card - we help keep your information more secure.</p>
            <button type="button" class="btn btn-outline-info m-2 p-2"> Add a bank account</button>
        </div>
        -->
