<div class="row container-fluid">
    <accounting-body></accounting-body>

    <div class="col-md-4 bg-light m-2 p-2 card card-body">
        <div class="row">
            <h6 class="text-left col m-2 p-2"><strong>Your Balance</strong></h6>
            <a class="text-right col m-2 p-2" data-toggle="tab" href="#nav-Wallet" style="color:DodgerBlue;">Details</a>
        </div>
        <p class="m-2 p-2" style="color:#566573;">You don't need a balance to shop or send payments</p>
        <h6 class="text-left col m-2 p-2"><strong>Currencies</strong></h6>
        <h6 class="text-center">{{money}} 0.00 EUR</h6>
    </div>
    <div class="col-md-7 bg-light m-2 p-2 card card-body">
        <div class="row">
            <a class="text-left col m-2 p-2" href="#nav-Activity" style="color:DodgerBlue;">Recent Activity</a>
        </div>
        <p class="m-2 p-2" style="color:#17202A;">
            Keep track of your most recent stuff here when you shop, send, or receive payments.
            Don’t see a past payment? Search by date in your <a href="#"></a><br />
        </p>
    </div>
</div>
<div class="row container-fluid">
    <div class="col-md-4 bg-light m-2 p-2 card card-body">
        <div class="row">
            <h6 class="text-left col m-2 p-2"><strong>Bank accounts and cards</strong></h6>
        </div>
        <p class="m-2 p-2" style="color:#566573;">Add your card - we help keep your information more secure.</p>
        <button type="button" class="btn btn-outline-info m-2 p-2"> Add a bank account</button>
    </div>
</div>