<div class="container">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search by Name" style="width:300px; float:right;margin:10px;" [(ngModel)]="searchTerm" />
  </div>
  <div class="row">

    <div class="card" style="width: 18rem;margin:15px;padding:10px;" *ngFor="let customer of customers | customerFilter:searchTerm">
      <div>
        <i class="material-icons" style="display:inline" X-large>
          account_box
        </i>
        <h5 class="card-title" style="display:inline">  {{customer.first_name}} {{customer.middle_name}} </h5>
      </div>
      <br />
      <h6 class="card-title">email: {{customer.email}} </h6>
      <h6 class="card-title">phone: {{customer.phone_number}} </h6>

      <div class="col-md-2">
        <button class="btn btn-info" (click)="editCustomer(customer.id)"  ><i class="fa fa-pencil"></i></button>
        <button class="btn btn-danger" (click)="deleteCustomer(customer.id)"  ><i class="fa fa-times"></i></button>
      </div>
    </div>
  </div>
  <button class="btn btn-info" routerLink="/editCustomer/0">CREATE CUSTOMER</button>
</div>
 
