<div class="row container-fluid">
    <div class="col-md-4 m-2 p-2 bg-light card card-body" style="height:100px;">
        <a href="#"><strong>Link a bank account &gt;</strong></a>
        <h6 class="mt-2" style="color:#566573;">Transfer funds from PayPal right to your bank</h6>
    </div>
    <div class="text-center col-md-7 m-2 p-2 bg-light card card-body">
        <h4><strong> PayPal Balance </strong></h4>
        <h4> 0.00 EUR‬</h4>
        <h6 style="color:#566573;">Estimated total of all currencies</h6>
        <div class="col text-center m-2">
            <button class="btn btn-outline-primary">Transfer Funds</button>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-3 offset-md-3">
                <i class="fa fa-usd"></i> USD
            </div>
            <div class="col-md-3">
                {{money}}0.0000 USD
            </div>
        </div>
        <div class="row mt-4">
            <a class="col-md-5 offset-md-4" href="#"><strong>Add a currency +</strong></a>
        </div>
        <hr />
    </div>
</div>