<form #form="ngForm" autocomplete="off" *ngIf="opportunityService.opportunityData">
  <div class="row">
   
    <div class="col-md-6 offset-2">
      <div class="form-group">
        <label>Title:</label>
        <input type="text" name="title" #title="ngModel" [(ngModel)]="opportunityService.opportunityData.title" class="form-control" />
      </div>
      <div class="form-group">
        <label>Customer:</label>
        <select name="customer_id" #customer_id="ngModel" [(ngModel)]="opportunityService.opportunityData.customer_id" class="form-control">
          <option value="0">-select-</option>
          <option *ngFor="let customer of opportunityService.customers" [value]="customer.id">-select-</option>
        </select>
      </div>
      <div class="form-group">
        <label>Employee:</label>
        <select name=" employee_id" #employee_id="ngModel" [(ngModel)]="opportunityService.opportunityData.employee_id" class="form-control">
          <option value="0">-select-</option>
        </select>
      </div>
      <div class="form-group">
        <label>Expected Revenue:</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">$</div>
          </div>
          <input type="text" name="expected_revenue" #expected_revenue="ngModel" [(ngModel)]="opportunityService.opportunityData.expected_revenue" class="form-control" />
        </div>
       
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-info">Submit</button>
      </div>
    </div>
  </div>
  
</form>
