<div class="row">
    <div class="product-info col-md-3" *ngFor="let p of customerProducts">
        <div class="border rounded p-3">
            <ul class="product-props">
                <li><h5>{{ p.name }}</h5></li>
                <li>Units Ordered: {{ p.unitsOrdered }}</li>
            </ul>
            <button class="btn1" type="button" (click)="onProductRemove(p.orderID, p.productID, p.unitsOrdered, p.price)">Remove</button>
        </div>
    </div>
</div>
<div>
    <button class="btn1" type="button" (click)="submitOrder()">Continue To Checkout</button>
</div>
<div>
    <h5>{{ orderInfo.totalPrice }}</h5>
</div>
