<div>
    <nav class="navbar navbar-expand-md sticky-top justify-content-between">
        <button class="navbar-toggler" data-toggle="collapse" data-target="#warehouseMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="warehouseMenu" class="navbar-collapse" collapse>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="">Profile</a>
                </li>
                <li class="nav-item">
                    <button class="nav-link" (click)="goToCart()">Cart</button>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-7">
                <div class="section-title">
                    <h2>Shopping Cart</h2>
                </div>
                <div class="cart-table clearfix">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Units Ordered</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let p of customerProducts">
                            <tr>
                                <td class="cart_product_img">
                                    <a href="#"><img src="https://img.icons8.com/ios/50/000000/compact-camera.png" alt="Product"></a>
                                </td>
                                <td class="cart_product_desc"><h5>{{ p.name }}</h5></td>
                                <td class="cart_product_desc">{{ p.unitsOrdered }}</td>
                                <td class="cart_product_desc"><span>{{ p.price*p.unitsOrdered }} $</span></td>
                                <td style="width:70px">
                                    <button class="btn4" type="button" (click)="onProductRemove(p.orderID, p.productID, p.unitsOrdered, p.price)">x</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                <div class="order-summary">
                    <div class="section-title text-center">
                        <h3 class="title">Cart Total</h3>
                    </div>
                    <div class="order-col">
                        <div><strong>TOTAL</strong></div>
                        <div><strong class="order-total">{{ orderInfo.totalPrice }} $</strong></div>
                    </div>
                    <div style="margin:40px"></div>
                    <div>
                        <button class="btn2" type="button" (click)="submitOrder()">Continue To Checkout</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
