<div>
    <nav class="navbar navbar-expand-md sticky-top justify-content-between">
        <button class="navbar-toggler" data-toggle="collapse" data-target="#warehouseMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="warehouseMenu" class="navbar-collapse" collapse>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="">Profile</a>
                </li>
                <li class="nav-item">
                    <button class="nav-link" (click)="goToCart()">Cart</button>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div>
    <h5>Available Products</h5>
</div>
<div class="row">
    <div class="product-info col-md-3" *ngFor="let p of availableProducts">
        <div class="border rounded p-3">
            <input type="image" class="image-upload" src="https://img.icons8.com/ios/50/000000/compact-camera.png" />
            <ul class="product-props">
                <li><h3>{{ p.name }}</h3></li>
                <li>Price: {{ p.price }} $</li>
            </ul>
            <input class="col-md-5" #units type="number" id="units" name="units" value="1"/>
            <button class="btn2" type="button" (click)="onProductAdd(p.id, units.value, p.price)">Add To Cart</button>
        </div>
    </div>
</div>