
<header>
    <h1 class="dark"> Pipeline</h1>

    <!--<div class="form-group">
        <input type="text" class="form-control" placeholder="Search by Name" style="width:200px;  float:right;" [(ngModel)]="searchTerm" />
        <button class="btn btn-info" routerLink="editOpportunity/0">CREATE</button>

    </div>-->
</header>


<!--<div class="row bg-light" data-spy="scroll" style="margin:5px; padding:5px;">
    <div class="col">
        <div>
            <h5>New</h5>
            <h6>Expected Revenues: $</h6>
        </div>


        <div #firstList="cdkDropList" cdkDropList [cdkDropListData]="opportunities" [cdkDropListConnectedTo]="otherList" (cdkDropListDropped)="drop($event)">
            <div cdkDrag *ngFor="let opportunity of opportunities  | opportunityFilter:searchTerm">
                <div class="card" style="width: 15rem; margin:0px;padding:10px;" *ngIf="opportunity.status ===1">
                    <h5 class="card-title"> {{opportunity.title}} </h5>
                    <div>
                        <i class="material-icons" style="display:inline" X-large>
                            account_box
                        </i>
                        <div *ngFor="let customer of customers" style="display:inline">
                            <h6 class="card-title" style="display:inline" *ngIf="opportunity.customer_id === customer.id"> {{ customer.name }} </h6>
                        </div>
                    </div>
                    <h6 class="card-title"> {{opportunity.expected_revenue}} $ </h6>
                    <div class="col-md-2" style="display:inline-flex">
                        <button class="btn btn-info" (click)="editOpportunity(opportunity.id)"><i class="fa fa-pencil"></i></button>
                        <button class="btn btn-danger" (click)="deleteOpportunity(opportunity.id)"><i class="fa fa-times"></i></button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col  ">

        <div>
            <h5> Qualified</h5>
            <h6>Expected Revenues:  $</h6>
        </div>

        <div #othertList="cdkDropList" cdkDropList [cdkDropListData]="opportunity" [cdkDropListConnectedTo]="firstList" (cdkDropListDropped)="drop($event)">
            <div cdkDrag *ngFor="let opportunity of opportunities | opportunityFilter:searchTerm">
                <div class="card" style="width: 15rem; margin:0px;padding:10px;" *ngIf="opportunity.status ===2">
                    <h5 class="card-title"> {{opportunity.title}} </h5>
                    <div>
                        <i class="material-icons" style="display:inline" X-large>
                            account_box
                        </i>

                    </div>
                    <h6 class="card-title"> {{opportunity.expected_revenue}} $ </h6>
                    <div class="col-md-2" style="display:inline-flex">
                        <button class="btn btn-info" (click)="editOpportunity(opportunity.id)"><i class="fa fa-pencil"></i></button>
                        <button class="btn btn-danger" (click)="deleteOpportunity(opportunity.id)"><i class="fa fa-times"></i></button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col  ">
        <div>
            <h5> Proposition</h5>
            <h6>Expected Revenues:  $</h6>
        </div>

        <div>
            <div *ngFor="let opportunity of Proposition | opportunityFilter:searchTerm">
                <div class="card" style="width: 15rem; margin:0px;padding:10px;" *ngIf="opportunity.status ===3">
                    <h5 class="card-title"> {{opportunity.title}} </h5>
                    <div>
                        <i class="material-icons" style="display:inline" X-large>
                            account_box
                        </i>

                    </div>
                    <h6 class="card-title"> {{opportunity.expected_revenue}} $ </h6>
                    <div class="col-md-2" style="display:inline-flex">
                        <button class="btn btn-info" (click)="editOpportunity(opportunity.id)"><i class="fa fa-pencil"></i></button>
                        <button class="btn btn-danger" (click)="deleteOpportunity(opportunity.id)"><i class="fa fa-times"></i></button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col  ">
        <div>
            <h5>Negotiation</h5>
            <h6>Expected Revenues: $</h6>
        </div>

        <div>
            <div *ngFor="let opportunity of opportunities | opportunityFilter:searchTerm">
                <div class="card" style="width: 15rem; margin:0px;padding:10px;" *ngIf="opportunity.status ===4">
                    <h5 class="card-title"> {{opportunity.title}} </h5>
                    <div>
                        <i class="material-icons" style="display:inline" X-large>
                            account_box
                        </i>

                    </div>
                    <h6 class="card-title"> {{opportunity.expected_revenue}} $ </h6>
                    <div class="col-md-2" style="display:inline-flex">
                        <button class="btn btn-info" (click)="editOpportunity(opportunity.id)"><i class="fa fa-pencil"></i></button>
                        <button class="btn btn-danger" (click)="deleteOpportunity(opportunity.id)"><i class="fa fa-times"></i></button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col ">
        <div>
            <h5> Won</h5>
            <h6>Expected Revenues:  $</h6>
        </div>

        <div>
            <div *ngFor="let opportunity of opportunities | opportunityFilter:searchTerm">
                <div class="card" style="width: 15rem; margin:0px;padding:10px;" *ngIf="opportunity.status ===5">
                    <h5 class="card-title"> {{opportunity.title}} </h5>
                    <div>
                        <i class="material-icons" style="display:inline" X-large>
                            account_box
                        </i>

                    </div>
                    <h6 class="card-title"> {{opportunity.expected_revenue}} $ </h6>
                    <div class="col-md-2" style="display:inline-flex">
                        <button class="btn btn-info" (click)="editOpportunity(opportunity.id)"><i class="fa fa-pencil"></i></button>
                        <button class="btn btn-danger" (click)="deleteOpportunity(opportunity.id)"><i class="fa fa-times"></i></button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>-->


