<app-warehouse></app-warehouse>

<div>
    <h3>Products</h3>
</div>
<div class="product-order-info" *ngFor="let p of productsInOrder">
    <form #productOrderForm="ngForm" (ngSubmit)="saveProductEdits(productOrderForm)">
        <div class="panel panel-primary col-md-9">
            <div class="panel-heading">
                <h5>Product Info</h5>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-md-6 offset-md-2" for="id">Product ID</label>
                    <input class="form-control col-md-6 offset-md-2" id="productID" name="productID" [(ngModel)]="productID" type="text" value={{p.productID}} />
                </div>
                <div class="form-group">
                    <label class="col-md-6 offset-md-2" for="unitsOrdered">Units Ordered</label>
                    <input class="form-control col-md-6 offset-md-2" id="unitsOrdered" name="unitsOrdered" [(ngModel)]="unitsOrdered" type="text" value={{p.unitsOrdered}} />
                </div>
                <div class="form-group">
                    <label class="col-md-6 offset-md-2" for="unitsDone">Units Done</label>
                    <input class="form-control col-md-6 offset-md-2" id="unitsDone" name="unitsDone" [(ngModel)]="unitsDone" type="text" value={{p.unitsDone}} />
                </div>
            </div>
            <div class="panel-footer">
                <button class="btn1 col-md-2 offset-md-2" type="button" (click)="removeFromOrder(p.productID)">Remove From Order</button>
                <button type="submit" class="btn btn-primary col-md-2 offset-md-2">OK</button>
            </div>
        </div>
    </form>
</div>
<div>
    <button class="btn2 col-md-2" type="button" (click)="goToOrders()">Back</button>
    <button class="btn2 col-md-2" type="button" (click)="submitEdits()">Submit Changes</button>
</div>